<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="de.halfbit.g1.base">

    <application
            android:name=".G1App"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"
            android:allowBackup="true">

        <activity
                android:name=".G1Activity"
                android:label="@string/app_name"
                android:theme="@style/AppTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

    </application>

</manifest>
